{% extends 'base.html.twig' %}

{% block title %}Articles website{% endblock %}

{% block body %}
<h1>Hello !</h1>
<h3>HTML CRUD</h3>
<ul>
    <li><a href="{{ path('article_index') }}">Manage Articles</a></li>
    <li><a href="{{ path('author_index') }}">Manage Authors</a></li>
</ul>
<h3>HTML Search from Elastic backend</h3>
<ul>
    <li><a href="{{ path('article_search') }}">Search an article</a></li>
</ul>
<h3>REST API</h3>
<ul>
    <li><a href="/api/doc">Swagger sandbox</a></li>
</ul>

{% endblock %}
