{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}
{% set l = articles | length %}

{% block body %}
    <h1>Result for : "{{ q }}"</h1>
    <form action="" method="get">
        <label for="search">Query : </label>
        <input type="text" name="q" id="search" required>
        <input type="submit" value="Search!">
    </form>
    <h4>{{ l }} result{% if l > 1 %}s{% endif %} found</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>CreateAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.author.pseudo }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.createAt ? article.createAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
